html {
  font-size: $base-font-size;
  background-image: url(../images/BG.png);
  min-width: 100vw;
  min-height: 100vh;
}

body,
input,
button,
textarea,
select {
  font-family: $primary-font;
}

body {
  padding: 20px;
}