// COLORS
$color-black: #333333;
$color-brown:  #4F4F4F;
$color-brown-2: #3B3B3B;
$color-brown-3: #8c8888;
$color-white: #FDFDFD;
$color-yellow: #F1B56E;

// FONTS
$primary-font: 'Poppins', sans-serif;
$base-font-size: 10px;
